.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .header
  {
      background-color: #fff;
      width: 100%;
  }
  .navbarbackground_color{
      background-color:    white!important;
      border: 0;
  
              -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  
              box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  
              padding: 0;
  
              background-color: white;
  
              border: none;
  }
  
  .dropdown:hover>.dropdown-menu{
      display:block ;
      /* background-color: rgb(0,161,235); */
      /* color: white; */
      margin-top: -10px;
   
    }
  
  .menu-area{
      position: static;
  }
  .mega-area{
      position: absolute;
      left: 300px;
      padding-right:50px;
  }
   
  
  .mega-area2{
      position: absolute;
      left: 550px;
      padding-right:65px;
  }
  .mega-area3{
      position: absolute;
     width:80%;
      padding-left:50px;
      left: 10%;
  }
  
  .dropdown-item{
      padding: 5px 0;
  }
  
  /* .navbar{
      margin-top: 2px;
  } */
  .navbar-nav .nav-item .nav-link{
      color: black;
      font-size: 16px;
      font-weight: 600;
      margin: 10px;
  }
  .navbar-nav .nav-item .nav-link:hover{
      background-color:rgb(232,200,13);
      color:white;
      border-radius: 6px;
     transition: 0.4s ease;
  }
   
  .signinlogin_cssbtn{
      background-color:rgb(0,178,163);
      color:white;
     font-weight: 600;
 
  }
  .signinlogin_cssbtn:hover{
    background-color: rgb(232,200,13);
    color: white;
  }
  .detail_textcss a{
    color: #445578;
    font-weight: 600;
  }
  
    /* <!-- ======= HEADER SECTION END ========= --> */
 
 
   /* ============ first section css :start====== */
    .first_sectionbackground{
      background-color: rgb(0,178,163);
    }
    .faster_sectioncss{
        background-color: white;
        margin: 2px;  
    }
    .faster_color{
       padding-top: 6rem;
       padding-bottom: 6rem;
    }
    .fasterjob_css{
     padding: 3rem;
    }

    .fasterjob_css h2{
    font-weight: 700;
    font-size: 2.2rem;
    }
    .fasterjob_css2{
        padding-top: 3.5rem;
       text-align: center;
        background-color: rgb(244,244,244);
        padding-bottom: 3.5rem;
    }
    .fasterjob_css2 h4{
        font-weight: 700;
        font-size: 1.2rem;
        }
    .fasterjob_css p{
        font-weight: 600;
        font-size: 1.2rem;
    }
    .fasterjob_css2 h1{
        font-size: 2.2rem;
        font-weight: 700;
    }
 
    .hide {
        display: none;
        font-size: 13px!important;
      }

      .myDIV{
       font-size: 17px;
      }    
      .myDIV:hover + .hide {
        display: block;
        color: black;
      }

      .jobtittle label{
        font-size: 13px;
        padding-top: 10px;
      }
      .jobtittle .tittle_text{
        font-size: 12px;
       margin-top: -12px;
       border:none;
      }
      .jobtittle{
        border:0;
         box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.884);
        background-color:white;
        border:none;
        height: 61px;
      }
   
      .tittle_text:focus{
        outline: none !important;
      }
      .post_btn{
        width: 100%;
        background-color: rgb(232,200,13);
        font-size: 1.10rem;
        color: #0E0E24;
        height: 61px;
       font-weight: 700;
      }
      .check_textcss{
        text-decoration: none!important;
        color: rgb(35,107,162);
        font-weight: 700;
        

      }



      .frequently_textcss .p1{
        font-size: 13px;
        font-weight: 800;
        color: gray;
        letter-spacing: 2px;
      }
      .frequently_textcss h3{
        font-size:2rem;
        font-weight:600;
        letter-spacing: 2px;
      }
      .frequently_textcss .p2{
        font-size:14px;
        font-weight:700;
        color: gray;
        letter-spacing: 1px;
         
      }
      .frequently_textcss .p3{
        font-size:14px;
        font-weight:700;
        color: gray;
        letter-spacing: 1px;
         margin-top: -16px;
      }
      .accordion_text{
        text-align: center;
        font-size: 30px;
        font-weight: 400;
       
       }
       #accordion .card .card-link{
        position: relative;
        display: block;
       
       }
       .card_textw{
        font-size: 18px;
        font-weight: 700;
        color: rgb(53,80,160);
       }
       .card_text:hover{
        color: rgb(4, 70, 125);
       }
       .angle_iconcss{
         font-size: 28px;
         font-weight: 600;
       }
       /* .accordian_decription{
        color: gray;
       } */
       .card-header {
        border-bottom: 0px;
      }
      .deactivate_textcss{
        padding-top: 5px;
        font-weight:700;
      }
      .accordion_backcolor{
        background-color:rgb(244,244,244);
        padding-bottom: 6rem;
        padding-top: 8rem;
      }

      /* GET GREAT FEATURES WITH CAREERBUILDER JOB POSTINGS start css */
      .greatfeature_color{
        background-color: rgb(47,75,160);
       padding: 35px 15px;
      }
      .feature_heading h3{
        color: white;
        letter-spacing: 2px;
        text-align: center;
        padding-top: 45px;
        font-weight: 700;
      }
      .feature_heading h6{
        color: white;
        letter-spacing: 2px;
        text-align: center;
        padding-top: 10px;
        font-weight: 500;
      }
      .feature_sec h5{
        color: white;
        font-weight:750;
        letter-spacing: 1px;
      }
      .feature_sec p{
        color: white; 
        letter-spacing: 1px;
        font-weight: 550;
        font-size: 14px;
        line-height: 20px;
      }
      .featurrow_css{
        padding-top: 50px;
        padding-bottom: 60px;
      }


 /* GET GREAT FEATURES WITH CAREERBUILDER JOB POSTINGS end css */


      /* See Why CareerBuilder Jobs Get You Faster start css */
          .careerbuilder_css{
            padding-top:5rem;
            text-align: center;
             
          }

          .postjob_textcss h2{
          font-weight: 700;
             letter-spacing: 1px;
             color: #666666;
             font-size: 0.95rem;
          }
          .postjob_textcss p{
            letter-spacing: 1px;
            font-size: 36px;
            color: #182642;
            font-weight: 700;
            padding-top: 1rem;
            
          }
          .img_sectionpadding{
            padding-top: 2rem;
          }
          .postjob_imgcss{
            height:100px;
            background-color: rgb(232,200,13);
            border-radius: 50%;
            font-weight: 800;
          }
          .post-jobs__benefits__text h3 {
            text-transform: none;
            font-size: 1.20rem;
            padding-top: 15px;
            font-weight:700;
        }
        .increase_text{
          color: #666;
          text-align: center;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
        }
        .open_apicss{
          color: #0E0E24;
          text-decoration: none!important;
          font-weight: 700;
          /* font-family: Barlow, Arial, sans-serif; */
          cursor: pointer;
        }
        .open_apicss:hover{
          color:#0E0E24 ;
        }

        /* See Why CareerBuilder Jobs Get You Faster end css */

        /* NEED MORE THAN 35 JOBS start css */
        .needmore_sectioncss{
             background-color: rgb(232,200,13);
             padding-top: 6rem;
             padding-bottom: 6rem;
        }
        .enterprise_textcss{
          text-align: center;
        }
        .enterprise_textcss h5{
          font-weight: 700;
          text-transform: uppercase;
          font-size: 0.95rem;
          letter-spacing: 1px;
          color: #0E0E24
        }
        .enterprise_textcss h2{
          margin-bottom: 12px;
    color: #0E0E24;
    font-weight: 700;
        }
        .enterprise_textcss p{
          margin-bottom: 30px;
          color: #0E0E24;
         font-weight: 600;
         font-size: 17px;
        }
        .enterprise_textcss a{
          color: #0E0E24 !important;
          border: 2px solid #0E0E24 !important;
          background: white;
          font-size: 16px;
          line-height: 1.2em;
          text-transform: uppercase;
          border-radius: 5px;
          font-weight: 700;
          padding: 14px;
        }
        .enterprise_textcss a:hover{
          background-color: #0E0E24;
          color: white!important;
          text-decoration: underline;
        }




          /* NEED MORE THAN 35 JOBS end css */
   /* ===== Footer section Start ====== */
   .fottersection_css{
    background-color: rgb(47,75,160);
    padding-top: 60px;
    padding-bottom:10px;
  }
  .footer_css h6{
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight:700;
  }
  .footer_css ul li {
    list-style: none;
   
  }
  .footer_css ul li a{
    color: white;
    text-decoration: none;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 12px;
    opacity: 0.8;
    
  }
  .footer_css ul li a:hover{
    opacity: 1;
  }
  .footer_css ul li span{
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
    opacity: 0.8;
  }
  .footer_css ul {
    padding-inline-start: 2px ;
  }
  .footer_css .footer_icon span a{
    color: white;
    text-decoration: none;
    margin: 8px;
    font-size: 20px;
  }

  .footer_logo img{
    height: 34px;
  }
  .footer_logo p{
    color: white;
    padding-top: 10px;
    font-weight: 500;
  }
 /* ===== Footer section End ====== */
     